@font-face
{
    font-family: 'Roboto';
    src: url('robotoslab-regular.eot');
    src: url('robotoslab-regular.eot?#iefix') format('embedded-opentype'), url('robotoslab-regular.woff') format('woff'),
    url('RobotoSlab-Regular.ttf') format('truetype'), 
    url('robotoslab-regular.svg#Roboto') format('svg');
}

body
{
    padding: 20px;
    background-color: floralwhite;
    background-image: url("wallpaper.jpg");
    font-size: 24px;
    font-family: Roboto, serif;
}

h1
{
    font-weight: bold;   
    font-family: cursive;  
    font-size: 40px;
    text-shadow: 1px 1px 2px #666666;
    padding-bottom: 5px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: red;
    text-align: center;
    background-image: url("textborder.jpg");
    background-repeat: repeat-x;
}

p
{
    font-family: inherit;
    text-align: justify;
}

a
{
    text-decoration: none;
}

a:link
{
    color: blue;
}

a:visited
{
    color: purple;
}

a:hover
{
    text-decoration: underline;
    color: green;
    font-style: italic;
}

table
{
    width: 1000px;
    border-collapse: collapse;
    font-size: inherit;
}

th, td
{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    font-size: inherit;
}

th
{
    background-color: cyan;
    text-transform: uppercase;
    border-bottom: 2px solid #111111;
}

tr.even
{
    background-color: #efefef;
}

td:hover
{
    background-color: #c3e6e5;
}

img
{
    border-radius: 10px;
}

input
{
    color: #5a5854;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 3px 3px 3px 15px;
    margin-bottom: 10px;
    text-align: left;
}

input:focus, input:hover
{
    background-color: #ffffff;
    border: 1px solid #b1e1e4;
}

textarea
{
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 24px;
    font-family: inherit;
}

legend
{
    text-transform: uppercase;
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 24px;
    letter-spacing: 0.08em;
    font-weight: bold;
}

fieldset
{
    width: 530px;
}

label
{
    padding-left: 10px;
    padding-bottom: 5px;
}

input
{
    font-size: 24px;
    font-family: inherit;
}

input[type = "submit"]
{
    border: 1px solid #006633;
    background-color: #004c00;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

input[type = "submit"]:hover
{
    border: 1px solid #006633;
    background-color: #00cc33;
    color: #ffffff;
    cursor: pointer;
}

ul
{
    list-style-type: circle;
}

ul.work
{
    list-style-image: url("magnifying-glass.png");
}

li
{
    margin: 10px 0px 0px 0px;
}

.pic
{
    width: 250px;
    float: left;
    margin: 10px;
    height: 350px;
}

figure
{
    display: block;
    width: 250px;
    height: 330px;
    padding: 9px;
    text-align: center;
}

figure img
{
    width: 250px;
    height: 312px;
    border: 1px solid #d6d6d6;
}

figcaption
{
    margin-top: 10px;
}

img.align-left
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
